@charset "utf-8";
/* CSS Document */


.search 
{
	border: 1px dotted #666;
	width: 100%;
	color:#666666;	
}
.search td
{
	text-align: left;
	vertical-align:middle; 
	font-weight:bold;
}
.search tr
{
    background-color: #F0F3F4;
}



.abded
{
	width: 100%;
	border: 1px solid #666;
}

.abded th 
{
	padding: 4px 4px 4px 4px;
	text-align: center;
	vertical-align: middle; 
	background-color: #cc5b2b;
    color: #FFFFFF;
	font-weight: bold;
}

.abded tr
{
	background-color:white;
	font-weight: bold;
}

.abded td
{
	text-align: center;
	vertical-align: middle; 
}




.brselect
{

	width: 300px;
	height: 205px;
	border: 1px solid #666;
	box-shadow: 0 4px 8px 0 rgba(133, 10, 10, 0.19), 0 6px 20px 0 rgba(133, 10, 10, 0.19);
	background-color:#cc5b2b;
	padding: 0 0;
	top:50%;
	left: 50%;
	position: fixed;
	margin-top: -103px;
	margin-left: -150px;
	border-color: #cc5b2b;
}


.brselect-branch
{

	width: 300px;
	height: 370px;
	border: 1px solid #666;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color:#cc5b2b;;
	padding: 0 0;
	top:50%;
	left: 50%;
	position: fixed;
	margin-top: -185px;
	margin-left: -150px;
	border-color: #cc5b2b;;
}

.brselect-heading{
	background-color:white;
	text-align: center;
	height: 30px;
	color: #cc5b2b;;
	padding: 6px 0;
	font-size: 16px;

	

}

.brselect-button{
	background-color:white;
	text-align: center;
	height: 25px;
	color: #cc5b2b;;
	font-size: 14px;
	
	
	border-width: 0px;
	border-radius: 5px;

	font-family: ABeeZee;

	margin-top: 35px;  
	margin-left: 100px;

	width:100px;
}
.brselect-button-branch{
	background-color:white;
	text-align: center;
	height: 25px;
	color: #cc5b2b;;
	font-size: 14px;
	width:100px;
	
	border-width: 0px;
	border-radius: 5px;
	margin-top: 25px;
	
	font-family: ABeeZee;
}

.brselect-button-cover{
	display: flex;  justify-content:space-between; padding: 0px 40px;
}

.brselect-options{
	width:200px;margin-left:50px; font-size: 14px; padding:1px 1px; color: #cc5b2b;;
	margin-top: 45px;
	font-family: ABeeZee;
}

.brselect-options-branch{
	width:200px;margin-left:50px; font-size: 14px; padding:1px 1px; color: #cc5b2b;;
	margin-top: 35px;
	font-family: ABeeZee;
}

option:hover{color: white;
background: #e9713d;  }


option:checked {
			
				box-shadow: 0 0 10px 100px #e9713d inset;
			}
			option:active{color:black;}
option{
	font-family: ABeeZee;	
}
select{
	font-family: ABeeZee;	
}






.status 
{
border: 1px solid #666;
width: 100%;
background-color:#FDEDEC;
height:46px;
}

tr.good td 
{
color: #ffffff;
background-color:#cc5b2b;; 
}

tr.bad td  
{
color: #ffffff;
background-color:rgb(194, 82, 30);
}

tr.vbad td  
{
color: #ffffff;
background-color:rgb(177, 74, 27);  
}


.button
{
	background-color:white;
	text-align: center;
	height: 25px;
	color: #cc5b2b;;
	font-size: 14px;
	
	
	border-width: 0px;
	border-radius: 5px;

	font-family: ABeeZee;
}

.datetable 
{
border: 0px solid #666;
width: 100%;
height: 10px;
margin: 0px 0px 0px px;

font-size:14px;
}

.datetable td
{
padding: 1px 1px 1px 1px;
text-align: left;
vertical-align: middle; 
font-weight:bold;
}

.datetable th
{
padding: 0px 0px 0px 0px;
text-align: center;
vertical-align: middle; 
background-color:#DB261B;
color: #FFFFFF;
font-weight: bold;
}

.datetable tr
{
background-color:#FFDAD4;
}

.tablereg 
{
	border: 1px solid #666;
	width: 75%;
	height: auto;
	margin: 0px 0px 0px 0px;

	font-size:14px;
	left:12.5%;
	position: relative;


	
	z-index: 1;
	border: 1px solid #F0F3F4;
	background-color:#F0F3F4;;
	
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tablereg td
{
	
	text-align: left;
	padding: 2px 2px;
	
	vertical-align: middle; 
	color: black;
	font-size: 14px;
}

.tablereg th
{
	padding: 10px 4px 10px 4px;
	text-align: center;
	vertical-align: middle; 
	background-color:white;
	color: #cc5b2b;;
	font-size: 14px;
}

.tablereg tr
{

}
/*-----------Table Register End here -------------*/

/*-----------Table Footer Start here -------------*/
.footer 
{
	border: 0px solid #666;
	width: 100%;
	/*height: auto;
	margin: 0px 0px 0px 0px;*/


	font-size:12px;
	color:#666666;

    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;



}

.footer td
{
	padding: 2px 2px 2px 2px;
	text-align: left;
	vertical-align: middle; 
	font-weight:bold;
}

.footer tr
{
background-color:#FFDAD4; 
}
/*-----------Table Footer End here -------------*/

.corner
{
	background-image:url(../images/mf_date1.gif)
}

.corner1
{
background-image:url(../images/mfbg.jpg);
color:#000000;

}



/*-----------Branch Table Start here -------------*/
.tablebranch 
{
	border: 0px;
	height: auto;
	margin: 0px 0px 0px 0px;

	font-size:14px;
}

.tablebranch td
{
	padding: 2px 2px 2px 2px;
	text-align: left;
	vertical-align: middle; 
	font-weight:bold;
}

.tablebranch th
{
	padding: 10px 4px 10px 4px;
	text-align: center;
	vertical-align: middle; 
	background-color:#cc5b2b;;
    color: #FFFFFF;
	font-weight: bold;
}

.tablebranch tr
{

}
/*-----------Branch Table End here -------------*/

















/*-----------Table2 Start here -------------*/
.table2 
{
	border: 1px solid #F0F3F4;
	
	height: auto;

	background-color:#F0F3F4;;
    color: black;
	font-size:14px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	width:600px;
	margin:auto;


}

.table2 td
{
	padding: 8px 4px;
	text-align: left;
	vertical-align: middle; 
	
	
}

.table2 th
{
	padding: 10px 4px 10px 4px;
	text-align: center;
	vertical-align: middle; 
	background-color:white;
	color: #cc5b2b;;
	font-size: 14px;
	
	
}


/*-----------Table2 end here -------------*/


/*-----------Table3 Start here -------------*/
.table3
{
	width:100%;
	border: 0px solid #666;
	background-color:#F0F3F4;
   
	
}

.table3 th 
{
	padding: 10px 4px 10px 4px;
	text-align: center;
	vertical-align: middle; 

	font-weight: bold;
}


.table3 td
 {
	padding: 2px 4px 10px 4px;
	text-align: center;
	vertical-align: middle; 
	color: black;
 }
 
/*-----------Table3 for end here -------------*/


/*-----------UserTable for Create User Start here -------------*/
.usertable
{
	width: 45%;
	left:27%;
	position: fixed;
	z-index: 1;
	border: 1px solid #F0F3F4;
	background-color:#F0F3F4;;
	
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.usertable th 
{
	padding: 10px 4px 10px 4px;
	text-align: center;
	vertical-align: middle; 
	background-color:white;
	color: #cc5b2b;;
	font-size: 14px;

}

.usertable tr
{
	


}

.usertable td
{
	padding: 10px 4px;
	text-align: center;
	vertical-align: middle; 
	color: black;
	font-size: 14px;
}
 
/*-----------UserTable for Create User end here -------------*/
.daily-billing-table
{
	width: 60%;
	left:20%;
	position: fixed;
	z-index: 1;
	border: 1px solid #F0F3F4;
	background-color:#F0F3F4;;
	
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.daily-billing-table th 
{
	padding: 10px 4px 10px 4px;
	text-align: center;
	vertical-align: middle; 
	background-color:white;
	color: #cc5b2b;;
	font-size: 14px;

}

.daily-billing-table tr
{
	


}

.daily-billing-table td
{
	padding: 4px 0px;
	
	vertical-align: middle; 
	color: black;
	font-size: 14px;
}

/*-----------UserTable1 for Change Password -------------*/
.usertable1
{
	width: 45%;
	left:27%;
	position: fixed;
	z-index: 1;
	border: 1px solid #F0F3F4;
	background-color:#F0F3F4;;
	
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.usertable1 th 
{
	padding: 10px 4px 10px 4px;
	text-align: center;
	vertical-align: middle; 
	background-color:white;
	color: #cc5b2b;;
	font-size: 14px;

}

.usertable1 tr
{
	


}

.usertable1 td
{
	padding: 10px 4px;
	text-align: center;
	vertical-align: middle; 
	color: black;
	font-size: 14px;
}
 

/*-----------UserTable1 for Change Password end here -------------*/



/* yaha par ek table 2 ki class khatam ho rahi he */
@charset "utf-8";
/* CSS Document */





table {
	border: 1px solid #666;
	width: 100%;
	margin: 0px 0px 0px 0px;

	font-size:14px;
    
}

caption {
	color:#000000;
}

th,td {
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}

td.r,th.r {
	text-align: right;
	padding-right: 10px;
}

thead tr {
	background-color: #cc5b2b;;
	color:#FFFFFF;
}

th.sorted {
	background-color: #CCCCCC;
}

th a,th a:visited {
	color: black;
	background: rgb(226, 166, 88);
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
    background-repeat: no-repeat;
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
    background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
    background-repeat: no-repeat;
}

tr.odd 
{
	background-color:#ffd0b0;
}

tr.tableRowEven,tr.even {
	background-color: #ffe4d4;
}

.group-1 
{
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}

.group-2 
{
    font-style:italic;
    border-top: 1px solid black;
}

.grouped-table tr.even {
    background-color: #d4e5ff;
}
.grouped-table tr.odd {
    background-color: #b0ccff;
}

.grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}

.grandtotal-row {
    border-top: 2px solid black;
}

div.exportlinks {
	background-color: #F0F3F4;
	font-weight: bold;
	color: black;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 100%;
	


}

span.export 
{
	padding: 0 4px 0px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background: url(../images/ico_file_excel.png) no-repeat left;
}

span.csv {
	background: url(../images/ico_file_csv.png) no-repeat left;
}

span.xml {
	background: url(../images/ico_file_xml.png) no-repeat left;
}

span.pdf {
	background: url(../images/ico_file_pdf.png) no-repeat left;
}

span.rtf {
	background: url(../images/ico_file_rtf.png) no-repeat left;
}



SPAN.pagebanner
{
    BORDER-RIGHT: #999 1px dotted;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #999 1px dotted;
    MARGIN-TOP: 10px;
    DISPLAY: block;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #999 1px dotted;
    WIDTH: 100%;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    background-color: #F0F3F4;
    font-weight: bold; 
    color:#000000;
}
SPAN.pagelinks
{
    BORDER-RIGHT: #999 1px dotted;
    PADDING-RIGHT: 4px;
    BORDER-TOP: medium none;
    DISPLAY: block;
    PADDING-LEFT: 4px;
    MARGIN-BOTTOM: -5px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #999 1px dotted;
    WIDTH: 100%;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #999 1px dotted;
    background-color: #F0F3F4;
    color:#000000;
    font-weight: bold;
}






/* calendar style */

#calendarDiv 
{
	display: block;
	display: none;
	position: relative;
	z-index:2;
	border: 2px solid #000000;
}

#calendarDiv a 
{
	cursor: pointer;
}

#calendar 
{
	background:#99FFFF;
	clear: both;
	text-align: center;
	font-size: 12px;
	
}

#calendar, #linksTable 
{
	width: 190px;
}

#calendar .calendarHeader 
{
	background:#db681b;
	border-bottom: 2px solid #444;
	color: #fff;
	font-size: 12px;
	
 
	height:25px;
	text-align:center;

}
#calendar .weekDaysTitleRow {
	background-image: url(../images/datebackmf.gif);
	color: #fff;
	font-size: 12px;
	
	height:20px;
	
}
#calendar .weekDaysRow {
	background-color:#cc5b2b;;
	color: #666;
	height:20px;
}
#calendar .weekDaysCell {
	color: #ffffff;
	border: 1px solid #ffffff;
	font-weight:600;
}
#calendar .weekDaysCellOver {
	background: rgb(255, 255, 255);
	border: 1px solid #777;
}
#closeCalender {
	position: absolute;
	top:-06;	
	right:-06 ;
	bottom: 100%;
	margin-bottom: 1px;
	display: block;
	padding: 3.5px;
	cursor: pointer;
	font-size: 12px;
}
#closeCalender:hover {
	background:#cc5e33;
	color: #fff;
}
#linksTable {
	background:#cc5b2b;;
}
#linksTable a {
	display: block;
	color: #fff;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 13px;
	padding: 6px 6px;


}
#linksTable a:hover {
	background: #ddd;
	color: #333;
}
#prevMonth {
	float: left;
}
#nextMonth {
	float: right;
}
#today {
	background:#336699;
}



.table_opt
{
	width: 50%;
	border: 1px solid #666;
}
.table_opt th 
{
	padding: 7px 7px 7px 7px;
	text-align: center;
	vertical-align: middle; 
	background-color:#cc5b2b;;
    color: #FFFFFF;
	font-weight: bold;
}
.table_opt tr
{
	background-color:#FFDAD4;
	font-weight: bold;
}
.table_opt td
{
	padding: 3px;
	text-align: left;
	vertical-align: middle; 
}

 




body > #wrapper 
{
height: auto;
min-height: 100%;
}

 #main 
{
/*padding-bottom: 150px; /* MUST BE THE SAME HEIGHT VALUE AS THE FOOTER */
margin-bottom:70px;
}


#header 
{
height: 70px; 
overflow: auto;
}

#content 
{
top:50%;
left:50%;
position:fixed;
margin-left: -425px;
margin-top: -200px;
}



/* NOTE:  ALL HEIGHTS NEED TO BE THE SAME VALUE, INCLUDING THE MINUS VALUE FOR THE STICKY TO STAY IN CORRECT POSITION */
#fouter {
position: relative;
margin-top: -50px; /* negative value of footer height */
height: 50px;
background-color:#FFDAD4;
color: #990033;
text-align: center;
vertical-align: middle;
clear:both;

}


/* DO NOT REMOVE THE CLEAR FIX CLASS */
/* CLEAR FIX to ensure footer stays at bottom of window and any floated content in main content area is cleared */
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {
display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
height: 1%;
}

.clearfix {
display: block;
}

/* Demo Page Style Remove whats below, its just for show. */


   
.main-footer{
    height: 25px; 
    background-color: #cc5b2b;;
    font-size: 9px;
    display: flex;
    
    align-items: center;
    z-index:2;
    padding:0 15px;
    position:fixed;
    left:0;
    bottom:0%;
    width:100%;
    text-align: left;
    

    
    
 } 
 	/* width */
	 ::-webkit-scrollbar {
		width: 5px;
		height: 10px;
	  }
	  
	  /* Track */
	  ::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey; 
		border-radius: 10px;
	  }
	   
	  /* Handle */
	  ::-webkit-scrollbar-thumb {
		background: rgb(168, 112, 112); 
		border-radius: 10px;
	  }
	  
	  /* Handle on hover */
	  ::-webkit-scrollbar-thumb:hover {
		background: #f1baba; 
	  }

