<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
                            
<web-app>  
 <session-config>
     <session-timeout>30</session-timeout>  <!-- 30 minutes -->
 </session-config>
                                    
<jsp-config>      
     <jsp-property-group>        
          <url-pattern>*.jsp</url-pattern>        
          <el-ignored>false</el-ignored> 
     </jsp-property-group>   
</jsp-config>           
                                                        
<servlet>            
    <servlet-name>action</servlet-name>                                                                                                             
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config1.xml,/WEB-INF/struts-config2.xml,/WEB-INF/struts-configHQ.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name> 
      <param-value>3</param-value>    
    </init-param>
    <load-on-startup>0</load-on-startup>
</servlet>                                                 
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>    
     
  
         

  <filter>
    <filter-name>ResponseOverrideFilter</filter-name>
    <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
    


<taglib>
 <taglib-uri>   
  		/WEB-INF/taglib/struts-html.tld 
 </taglib-uri>
 <taglib-location>
  		/WEB-INF/taglib/struts-html.tld
 </taglib-location>  		
 
 <taglib-uri>  
  		/WEB-INF/taglib/struts-bean.tld
 </taglib-uri>
 <taglib-location>
  		/WEB-INF/taglib/struts-bean.tld
 </taglib-location>  		
 
 <taglib-uri>  
  		/WEB-INF/taglib/struts-logic.tld
 </taglib-uri>
 <taglib-location>
  		/WEB-INF/taglib/struts-logic.tld
  </taglib-location> 
  
  <taglib-uri>  
  		/WEB-INF/taglib/displaytag-11.tld
 </taglib-uri>
 <taglib-location>
  		/WEB-INF/taglib/displaytag-11.tld
  </taglib-location>  
 
 <taglib-uri>  
  		/WEB-INF/taglib/displaytag-12.tld
 </taglib-uri>
 <taglib-location>
  		/WEB-INF/taglib/displaytag-12.tld
  </taglib-location>  

  <taglib>
        <taglib-uri>/tags/alphanavbar</taglib-uri>
        <taglib-location>/WEB-INF/taglib/alphanavbar-1.0.tld</taglib-location>
   </taglib>


</taglib>	
  	
   <welcome-file-list>
        <welcome-file>/jsp/Loginnew.jsp</welcome-file>
    </welcome-file-list>


    


</web-app>

