.join-main-section{
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 600px;
    height: 368px; 
    position: fixed;
    z-index: 1;
    top: 50%;
    left:50%;
    margin-left: -300px;
    margin-top: -184px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
     
    
}

.backclass{
    background-color: #ffffff;

}

.aristo-logo{
     width:200px;
     margin-left: 40px;
     
  }
  


 .join-form{
 
    width:55%;
    height: 100%;
    position: relative;
 
    margin-bottom: 0px;
    padding: 48px 36px; 
    margin-left: 70px;
    
    
 }

 .input-group{
     margin-bottom: 1rem;
     display: flex;
     flex-direction: column;
 }
 

 .input-group label{
     margin-bottom: 0;
     font-size: 12px;

 }

 .input-group input{
    outline: none;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
    width: 250px;
    font-size: 12px;
    padding: .5em;
    color: inherit;
    font-family: inherit;
   
}

.input-group-btn{
  background-color:white; align-self: center; border-radius: 5px;  color: brown;  width:90px;  height:25px; border: none;
  font-family: inherit;
  margin-top: 25px;
}

.input-group-btn:hover{
  background-color:rgb(231, 143, 143);

  color: white;

}

.input-groupinput:focus{
     border-color: #596da0;

}

.input_table{
     background-color: white;
     color:black;
     padding: 0,10px;
   
}


.login-label{
   
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
    
   
}

@media (max-width: 900px) {

    .join-main-section{
      justify-content: center;
      align-content: space-between;
    }
  }
  
  
     
.main-footer{
  height: 25px;
  background-color: brown;
  font-size: 9px;
  display: flex;
  
  align-items: center;
  
  padding:0 15px;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  text-align: left;
  

  
  
} 